.bg {
  background-image: url("//usbank.com/business-banking/_jcr_content/headerIpar/animatedHeader/secNav2/megaNavItem1Col3Par/image.img.jpg/1540436091378.jpg");
  min-height:65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-pop {
  text-shadow: 2px 2px black;
}

@media screen and (min-width: 300px) {
  html {
    font-size: calc(11px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 481px) {
.bg {
  min-height:100vh;
}
section div.row.text-white {
  text-align:center;
}
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

a .fab {
  color:white; 
}

.link {
  color:white;
  text-decoration: underline;
}

p {
  font-size:12px;
}